In [1]:
#basic packages
import numpy as np
import pandas as pd

In [2]:
def direction(price_tplusone, price_t):
    if price_tplusone > price_t :
        return 1
    return 0

In [3]:
df = pd.read_csv('data/DJIA_table.csv')
df["date_obj"] = pd.to_datetime(df["Date"])
df = df.sort_values(by="date_obj",ignore_index="true")
df['Label'] = df['Close']
for index in df.index:
    if index == 0:
            df.at[index,'Label']=None
    else :
        df.at[index,'Label']= direction(df['Close'][index],df['Close'][index-1])

In [4]:
def create_TPlusN(df,N,srcCol='Label',colName='Label5'):    
    length = df.shape[0]
    df[colName]=df[srcCol]
    for index in df.index:
        if index >= length - N : 
            df.at[index,colName]=None
        else:
            df.at[index,colName] = df[srcCol][index+N]
    return df

In [5]:
df = create_TPlusN(df,5,'Label','Label5')
df = create_TPlusN(df,5,'Close','Close5')
df = create_TPlusN(df,20,'Label','Label20')
df = create_TPlusN(df,20,'Close','Close20')
df = create_TPlusN(df,60,'Label','Label60')
df = create_TPlusN(df,60,'Close','Close60')

In [6]:
df[0:20]

,Date,Open,High,Low,Close,Volume,Adj Close,date_obj,Label,Label5,Close5,Label20,Close20,Label60,Close60
0,2008-08-08,11432.089844,11759.959961,11388.040039,11734.320312,212830000,11734.320312,2008-08-08,NaN,1.0,11659.900391,1.0,11510.740234,0.0,9319.830078
1,2008-08-11,11729.669922,11867.110352,11675.530273,11782.349609,183190000,11782.349609,2008-08-11,1.0,0.0,11479.389648,0.0,11230.730469,1.0,9625.280273
2,2008-08-12,11781.700195,11782.349609,11601.519531,11642.469727,173590000,11642.469727,2008-08-12,0.0,0.0,11348.549805,1.0,11268.919922,0.0,9139.269531
3,2008-08-13,11632.809570,11633.780273,11453.339844,11532.959961,182550000,11532.959961,2008-08-13,0.0,1.0,11417.429688,1.0,11433.709961,0.0,8695.790039
4,2008-08-14,11532.070312,11718.280273,11450.889648,11615.929688,159790000,11615.929688,2008-08-14,1.0,1.0,11430.209961,0.0,11421.990234,1.0,8943.809570
5,2008-08-15,11611.209961,11709.889648,11599.730469,11659.900391,215040000,11659.900391,2008-08-15,1.0,1.0,11628.059570,0.0,10917.509766,0.0,8870.540039
6,2008-08-18,11659.650391,11690.429688,11434.120117,11479.389648,156290000,11479.389648,2008-08-18,0.0,0.0,11386.250000,1.0,11059.019531,0.0,8693.959961
7,2008-08-19,11478.089844,11478.169922,11318.500000,11348.549805,171580000,11348.549805,2008-08-19,0.0,1.0,11412.870117,0.0,10609.660156,0.0,8282.660156
8,2008-08-20,11345.940430,11454.150391,11290.580078,11417.429688,144880000,11417.429688,2008-08-20,1.0,1.0,11502.509766,1.0,11019.690430,1.0,8835.250000
9,2008-08-21,11415.230469,11476.209961,11315.570312,11430.209961,130020000,11430.209961,2008-08-21,1.0,1.0,11715.179688,1.0,11388.440430,0.0,8497.309570
10,2008-08-22,11426.790039,11632.129883,11426.790039,11628.059570,138790000,11628.059570,2008-08-22,1.0,0.0,11543.959961,0.0,11015.690430,0.0,8273.580078
11,2008-08-25,11626.190430,11626.269531,11362.629883,11386.250000,148610000,11386.250000,2008-08-25,0.0,0.0,11516.919922,0.0,10854.169922,1.0,8424.750000
12,2008-08-26,11383.559570,11436.240234,11340.410156,11412.870117,119800000,11412.870117,2008-08-26,1.0,1.0,11532.879883,0.0,10825.169922,0.0,7997.279785
13,2008-08-27,11412.459961,11554.459961,11381.769531,11502.509766,120580000,11502.509766,2008-08-27,1.0,0.0,11188.230469,1.0,11022.059570,0.0,7552.290039
14,2008-08-28,11499.870117,11715.179688,11499.790039,11715.179688,149150000,11715.179688,2008-08-28,1.0,1.0,11220.959961,1.0,11143.129883,1.0,8046.419922
15,2008-08-29,11713.230469,11713.230469,11543.389648,11543.959961,166910000,11543.959961,2008-08-29,0.0,1.0,11510.740234,0.0,10365.450195,1.0,8443.389648
16,2008-09-02,11545.629883,11790.169922,11471.900391,11516.919922,177090000,11516.919922,2008-09-02,0.0,0.0,11230.730469,1.0,10850.660156,1.0,8479.469727
17,2008-09-03,11506.009766,11554.379883,11416.530273,11532.879883,174250000,11532.879883,2008-09-03,1.0,1.0,11268.919922,0.0,10831.070312,1.0,8726.610352
18,2008-09-04,11532.480469,11532.480469,11176.019531,11188.230469,229200000,11188.230469,2008-09-04,0.0,1.0,11433.709961,0.0,10482.849609,1.0,8829.040039
19,2008-09-05,11185.629883,11245.150391,11037.849609,11220.959961,198300000,11220.959961,2008-09-05,1.0,0.0,11421.990234,0.0,10325.379883,0.0,8149.089844

In [7]:
df.to_csv('data/DJIA_table_with_Label.csv')